# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.ask-tile': [
    {
      'label': 'Deploy',
      'command': 'ask-integration:deploy'
    }
    {
      'type': 'separator'
    }
    {
      'label': 'Deploy Lambda'
      'command': 'ask-integration:deploy-lambda'
    }
    {
      'label': 'Deploy Model'
      'command': 'ask-integration:deploy-model'
    }
    {
      'type': 'separator'
    }
    {
      'label': 'Force Deploy Lambda'
      'command': 'ask-integration:force-deploy-lambda'
    }
    {
      'label': 'Force Deploy Model'
      'command': 'ask-integration:force-deploy-model'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ask Integration'
      'submenu': [
        {
          'label': 'Deploy',
          'command': 'ask-integration:deploy'
        }
        {
          'type': 'separator'
        }
        {
          'label': 'Deploy Lambda'
          'command': 'ask-integration:deploy-lambda'
        }
        {
          'label': 'Deploy Model'
          'command': 'ask-integration:deploy-model'
        }
        {
          'type': 'separator'
        }
        {
          'label': 'Force Deploy Lambda'
          'command': 'ask-integration:force-deploy-lambda'
        }
        {
          'label': 'Force Deploy Model'
          'command': 'ask-integration:force-deploy-model'
        }
      ]
    ]
  }
]
