// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.ask-tile {

}

.ask-tile .ask-icon {
  height: 14px;
  margin-top: -2px;
  margin-right: 4px;
}
